<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.paobuqianjin.pbq.step"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 百度地图权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--  -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!--  -->
    <application
        android:name=".view.base.PaoBuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:theme">
        <meta-data
            android:name="android.max_aspect"
            android:value="ratio_float" />

        <!-- 配置百度地图KEY -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="0ug1iU9lhYsMn10Ukwz4d2oxh8uP3zga" />

        <!-- 屏幕适配尺寸 -->
        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />

        <activity
            android:name=".view.activity.MainActivity"
            android:label="跑步钱进"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.LOGIN_SUCCESS_ACTION" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.APP_START" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:theme="@style/ImageTranslucentTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".view.activity.UserFitActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.USER_FIT_ACTION_BIND" />
                <action android:name="com.paobuqianjin.pbq.USER_FIT_ACTION_USER_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.CreateCircleActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.SearchCircleActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.MemberManagerActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAMBER_MANAGER_ACTION" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.OwnerCircleActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.ACTION.GOTO_MYCIRCLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoveRankActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.DynamicActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.LikeSupportActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.QrCodeMakeActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity android:name=".view.activity.QrCodeScanActivity" />
        <activity
            android:name=".view.activity.CirCleDetailActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.step.SCAN_ACTION" />
                <action android:name="coma.paobuqian.pbq.step.ICON_ACTION" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.UserCenterActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.CirCleTagActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.CreateDynamicActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.PaoBuPayActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.PAY" />
                <action android:name="android.intent.action.QRCODE" />
                <action android:name="coma.paobuqian.pbq.step.PAY_RECHARGE.ACTION" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.PayResultActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.paobuqianjin.PAY_RESULT" />
            </intent-filter>
        </activity>
        <!-- 忘记密码 -->
        <activity android:name=".view.activity.LoginForgetPassActivity" />
        <!-- 选择提现账号 -->
        <activity
            android:name=".view.activity.UserBindBankListActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 提现绑定微信 -->
        <activity
            android:name=".view.activity.BindWeChatActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 任务发布 -->
        <activity
            android:name=".view.activity.TaskReleaseActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 选择任务发布对象 -->
        <activity
            android:name=".view.activity.SelectFriendForTaskActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 任务详情 -->
        <activity
            android:name=".view.activity.TaskDetailActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 我的发布 -->
        <activity
            android:name=".view.activity.MyReleaseActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.MyReleaseDetailActivity"
            android:theme="@style/ImageTranslucentTheme" />

        <activity
            android:name=".view.fragment.owner.ReleaseRecordActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 个人榜单 -->
        <activity
            android:name=".view.activity.FriendStepDanActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.ACTION_FRIEND_HONOR" />
                <action android:name="com.paobuqianjin.pbq.ACTION_CIRCLE_HONOR" />
            </intent-filter>
        </activity>
        <!-- 我的钱包 -->
        <activity
            android:name=".view.activity.MyWalletActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 商家详情 -->
        <activity
            android:name=".view.activity.SponsorDetailActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.DearNameModifyActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 商品图片详情 -->
        <activity
            android:name=".view.activity.SponsorGoodsPicLookActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.step.SHOW_PIC_ACTION"></action>
                <action android:name="com.paobuqianjin.pbq.step.INNER_ACTION"></action>
                <action android:name="com.paobuqianjin.pbq.step.OUT_ACTION"></action>
                <action android:name="com.paobuqianjin.pbq.setp.WORK_TIME_ACTION"></action>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.SponsorTimeSelectActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 查看评论 -->
        <activity
            android:name=".view.activity.UserCenterContentActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.step.LIKE_MESSAGE_ACTION" />
                <action android:name="com.paobuqianjin.pbq.step.CONTENT_MESSAGE_ACTION" />
                <action android:name="com.paobuqianjin.pbq.step.SYS_MESSAGE_ACTION" />
            </intent-filter>
        </activity>
        <!-- 提现 -->
        <activity
            android:name=".view.activity.CrashActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 邀请有礼 -->
        <activity
            android:name=".view.activity.InviteActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.StepDollarActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 充值到钱包 -->
        <activity
            android:name=".view.activity.InoutcomDetailActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 我的好友 -->
        <activity
            android:name=".view.activity.MyFriendActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 通讯录好友 -->
        <activity
            android:name=".view.activity.FriendAddressActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 添加好友 -->
        <activity
            android:name=".view.activity.AddFriendAddressActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 编辑圈子 -->
        <activity
            android:name=".view.activity.EditCircleActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 修改资料 -->
        <activity
            android:name=".view.activity.UserInfoSettingActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.SettingActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 我的动态 -->
        <activity
            android:name=".view.activity.MyDynamicActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 我的关注 -->
        <activity
            android:name=".view.activity.MyLikeFriendActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 消息 -->
        <activity
            android:name=".view.activity.MessageActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 意见反馈 -->
        <activity
            android:name=".view.activity.SuggestionActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 关于我们 -->
        <activity
            android:name=".view.activity.AboutActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!--  -->
        <activity
            android:name=".view.activity.AgreementActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.step.SERVICE_ACTION" />
                <action android:name="com.paobuqianjin.pbq.step.CRASH_ACTION" />
            </intent-filter>
        </activity>
        <!-- 我的段位 -->
        <activity
            android:name=".view.activity.DanActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 微信回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 友盟appkey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a5718adf43e482eb000012a" />
        <!--  -->

        <service
            android:name="com.today.step.lib.TodayStepService"
            android:enabled="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:priority="1000"
            android:process=":todaystep">
            <intent-filter>

                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.activity.FillInviteCodeActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.AccoutManagerActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106825696"></data>
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".view.activity.OlderPassChangeActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />

        <!-- 声明service组件 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name=".model.services.local.LocalBaiduService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".model.broadcast.NetStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".model.broadcast.StepLocationReciver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.paobuqianjian.intent.ACTION_STEP" />
                <action android:name="com.paobuqianjin.intent.ACTION_LOCATION" />
            </intent-filter>
        </receiver>

        <activity android:name=".view.activity.RegisterActivity" />
        <activity android:name=".view.activity.ForgotPasswordActivity" />
        <activity android:name=".view.activity.BindPhoneNumActivity" />
        <activity android:name=".view.activity.SponsorSelectActivity">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.step.TARGET_ACTION"></action>
                <action android:name="com.paobuqianjin.pbq.step.SPONSOR_INFO_ACTION"></action>
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.SponsorInfoCollectActivity">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.step.SPONSOR_INFO_ACTION"></action>
            </intent-filter>
        </activity>
    </application>

</manifest>