<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.paobuqianjin.pbq.step"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 百度地图权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--  -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc.hce" />

    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />

    <!-- ⼩米 配置开始 < -->
    <!--
        <permission
        android:name="com.paobuqianjin.pbq.step.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    -->
    <uses-permission android:name="com.paobuqianjin.pbq.step.permission.MIPUSH_RECEIVE" />
    <!-- ⼩米 配置结束 < -->
    <!-- MeiZu 配置开始 < -->
    <!-- 兼容 flyme5.0 以下版本，魅族内部集成 pushSDK 必填，不然无法收到 消息 -->
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE" />

    <permission
        android:name="com.paobuqianjin.pbq.step.push.permission.MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.paobuqianjin.pbq.step.push.permission.MESSAGE" />
    <!-- 兼容 flyme3.0 配置权限 -->
    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />

    <!-- MeiZu 配置结束 < -->
    <!--  -->
    <application
        android:name=".view.base.PaoBuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:icon,android:label,android:theme">
        <meta-data
            android:name="android.max_aspect"
            android:value="ratio_float" />

        <!-- 配置百度地图KEY -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="0ug1iU9lhYsMn10Ukwz4d2oxh8uP3zga" />
        <!-- 配置腾讯地图KEY -->
        <meta-data
            android:name="TencentMapSDK"
            android:value="H7PBZ-HE73V-YJYPZ-UNZA3-P6N53-KKF4I" />

        <!-- 屏幕适配尺寸 -->
        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />

        <!-- umeng -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a5718adf43e482eb000012a" />
        <!-- Channel ID用来标识App的推广渠道，作为推送消息时给用户分组的一个维度。 -->

        <activity
            android:name=".view.activity.SplashActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:label="跑步钱进"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.GUIDE_ACTION" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.LOGIN_SUCCESS_ACTION" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.APP_START" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.action.ADD_ACCOUNT" />
                <action android:name="com.paobuqianjin.pbq.step.RE_LOGIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.UserFitActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.USER_FIT_ACTION_BIND" />
                <action android:name="com.paobuqianjin.pbq.USER_FIT_ACTION_USER_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.CreateCircleActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"
            android:windowSoftInputMode="adjustResize" />
        <!--
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
        -->
        <activity
            android:name=".view.activity.SearchCircleActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.MemberManagerActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAMBER_MANAGER_ACTION" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.OwnerCircleActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.SELECT_ACTION" />
                <action android:name="com.paobuqianjin.pbq.GUIDE_ACTION" />
                <action android:name="com.paobuqianjin.pbq.ACTION.GOTO_MYCIRCLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoveRankActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.step.RED_RECORD_ACTION" />
                <action android:name="com.paobuqian.pbq.step.STEP_ACTION" />
                <action android:name="com.paobuqian.pbq.step.LOVE_ACTION" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.DynamicActivity"
            android:theme="@style/ImageTranslucentTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.activity.LikeSupportActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.QrCodeMakeActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity android:name=".view.activity.QrCodeScanActivity" />
        <activity
            android:name=".view.activity.CirCleDetailActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.step.SCAN_ACTION" />
                <action android:name="coma.paobuqian.pbq.step.ICON_ACTION" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.UserCenterActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.CirCleTagActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.CreateDynamicActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.PaoBuPayActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.PAY_EDIT" />
                <action android:name="android.intent.action.PAY" />
                <action android:name="android.intent.action.QRCODE" />
                <action android:name="com.paobuqian.pbq.step.PAY_RECHARGE.ACTION" />
                <action android:name="com.paobuqianjin.pbq.setp.VIP_SELF_ACTION" />
                <action android:name="com.paobuqianjin.pbq.step.VIP_FRIEND_ACTION" />
                <action android:name="com.paobuqianjin.pbq.setp.VIP_SELF_SPONSOR_ACTION" />
                <action android:name="com.paobuqianjin.pbq.step.VIP_FRIEND_SPONSOR_ACTION" />
                <action android:name="com.paobuqianjin.pbq.step.VIP_GOLDEN_ACTION" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.PayResultActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.paobuqianjin.PAY_RESULT" />
            </intent-filter>
        </activity>
        <!-- 忘记密码 -->
        <activity android:name=".view.activity.LoginForgetPassActivity" />
        <!-- 选择提现账号 -->
        <activity
            android:name=".view.activity.UserBindBankListActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 提现绑定微信 -->
        <activity
            android:name=".view.activity.BindWeChatActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="com.paobuqianjin.step.BIND_WECHAT" />
                <action android:name="com.paobuqianjin.step.BIND_PHONE" />
            </intent-filter>
        </activity>
        <!-- 任务发布 -->
        <activity
            android:name=".view.activity.TaskReleaseActivity"
            android:theme="@style/ImageTranslucentTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.paobuqianjin.person.PKG_ACTION"></action>
                <action android:name="com.paobuqianjin.person.SPONSOR_ACTION"></action>
            </intent-filter>
        </activity>
        <!-- 选择任务发布对象 -->
        <activity
            android:name=".view.activity.SelectFriendActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.step.ACTION_TASK" />
                <action android:name="com.paobuqianjin.pbq.step.ACTION_VIP" />
                <action android:name="com.paobuqianjin.pbq.step.ACTION_SPONSOR_VIP" />
            </intent-filter>
        </activity>
        <!-- 任务详情 -->
        <activity
            android:name=".view.activity.TaskDetailActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 我的发布 -->
        <activity
            android:name=".view.activity.MyReleaseActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity android:name=".view.activity.MyReleaseDetailActivity">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.step.PERSON_ACTION" />
                <action android:name="com.paobuqianjin.pbq.step.SPONSOR_ACTION" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.fragment.owner.ReleaseRecordActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 个人榜单 -->
        <activity
            android:name=".view.activity.FriendStepDanActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.ACTION_FRIEND_HONOR" />
                <action android:name="com.paobuqianjin.pbq.ACTION_CIRCLE_HONOR" />
            </intent-filter>
        </activity>
        <!-- 我的钱包 -->
        <activity
            android:name=".view.activity.MyWalletActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 商家详情 -->
        <activity
            android:name=".view.activity.SponsorDetailActivity"
            android:theme="@style/ImageTranslucentTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.activity.DearNameModifyActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 商品图片详情 -->
        <activity
            android:name=".view.activity.SponsorGoodsPicLookActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.step.SHOW_PIC_ACTION" />
                <action android:name="com.paobuqianjin.pbq.step.INNER_ACTION" />
                <action android:name="com.paobuqianjin.pbq.step.OUT_ACTION" />
                <action android:name="com.paobuqianjin.pbq.setp.WORK_TIME_ACTION" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.SponsorTimeSelectActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 查看评论 -->
        <activity
            android:name=".view.activity.UserCenterContentActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.step.LIKE_MESSAGE_ACTION" />
                <action android:name="com.paobuqianjin.pbq.step.CONTENT_MESSAGE_ACTION" />
                <action android:name="com.paobuqianjin.pbq.step.SYS_MESSAGE_ACTION" />
            </intent-filter>
        </activity>
        <!-- 提现 -->
        <activity
            android:name=".view.activity.CrashActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="com.paobuqianjin.step.CRASH_ACTION" />
            </intent-filter>
        </activity>
        <!-- 邀请有礼 -->
        <activity
            android:name=".view.activity.InviteActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.StepDollarActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 充值到钱包 -->
        <activity
            android:name=".view.activity.InoutcomDetailActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 我的好友 -->
        <activity
            android:name=".view.activity.MyFriendActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="com.paobuqianjn.step.FRIEND_ACTION" />
                <action android:name="com.paobuqianjin.pbq.step.STRANGE_ACTION" />
            </intent-filter>
        </activity>
        <!-- 通讯录好友 -->
        <activity
            android:name=".view.activity.FriendAddressActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 添加好友 -->
        <activity
            android:name=".view.activity.AddFriendAddressActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <activity android:name=".view.activity.SearchResultActivity" />
        <!-- 编辑圈子 -->
        <activity
            android:name=".view.activity.EditCircleActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 修改资料 -->
        <activity
            android:name=".view.activity.UserInfoSettingActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.SettingActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 我的动态 -->
        <activity
            android:name=".view.activity.MyDynamicActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 我的关注 -->
        <activity
            android:name=".view.activity.MyLikeFriendActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 消息 -->
        <activity
            android:name=".view.activity.MessageActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 意见反馈 -->
        <activity
            android:name=".view.activity.SuggestionActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 常见问题 -->
        <activity android:name=".activity.question.QuestionActivity" />
        <activity android:name=".activity.question.QuestionDetailActivity">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.step.STEP_HELP" />
                <action android:name="com.paobuqianjin.pbq.step.FRIEND_HELP" />
                <action android:name="com.paobuqianjin.pbq.step.RECHARGE_HELP" />
                <action android:name="com.paobuqianjin.pbq.step.ACCOUNT_HELP" />
            </intent-filter>
        </activity>
        <!-- 关于我们 -->
        <activity
            android:name=".view.activity.AboutActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!--  -->
        <activity
            android:name=".view.activity.AgreementActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.step.TICK_RED_RULE"></action>
                <action android:name="com.paobuqianjin.pbq.step.PERSON_RED_RULE"></action>
                <action android:name="com.paobuqianjin.pbq.step.ROUND_RED_RULE"></action>
                <action android:name="com.paobuqianjin.pbq.step.NEAR_RED_RULE"></action>
                <action android:name="com.paobuqianjin.pbq.step.SERVICE_ACTION" />
                <action android:name="com.paobuqianjin.pbq.step.CRASH_ACTION" />
            </intent-filter>
        </activity>
        <!-- 我的段位 -->
        <activity
            android:name=".view.activity.DanActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <!-- 微信回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.today.step.lib.TodayStepService"
            android:enabled="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:priority="1000"
            android:process=":todaystep">
            <intent-filter>

                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.activity.FillInviteCodeActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.AccoutManagerActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106825696" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".view.activity.OlderPassChangeActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />

        <!-- 声明service组件 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name=".model.services.local.LocalBaiduService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".model.broadcast.NetStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".view.activity.RegisterActivity" />
        <activity android:name=".view.activity.ForgotPasswordActivity" />
        <activity android:name=".view.activity.BindPhoneNumActivity" />
        <activity android:name=".view.activity.VipActivity" />
        <activity android:name=".view.activity.SponsorSelectActivity">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.step.TARGET_ACTION" />
                <action android:name="com.paobuqianjin.pbq.step.SPONSOR_INFO_ACTION" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.SponsorInfoCollectActivity">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.step.SPONSOR_INFO_ACTION" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.sponsor.SponsorTimeActivity" />
        <activity
            android:name=".activity.sponsor.SponsorDateActivity"
            android:label="@string/title_activity_sponsor_date"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.sponsor.SponsorManagerActivity" />
        <activity
            android:name=".activity.sponsor.SponsorInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.sponsor.SponsorRedLocationActivity" />
        <activity android:name=".activity.sponsor.TargetPeopleActivity" />
        <activity android:name=".activity.sponsor.SponsorSelectPicActivity" />
        <activity android:name=".view.activity.LiveListActivity" />
        <activity android:name=".view.activity.LiveDetailActivity" />
        <activity
            android:name=".activity.sponsor.SponsorTMapActivity"
            android:label="@string/title_activity_sponsor_tmap"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowContentTransitions="true" />
        <activity
            android:name=".activity.sponsor.SponsorSearchPositionActivity"
            android:windowContentTransitions="true" />
        <activity android:name=".activity.base.GalleryActivity" />
        <activity android:name=".view.activity.IdentityAuth1Activity" />
        <activity android:name=".view.activity.IdentityAuth2Activity">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.setp.ACTION_AUTH1" />
                <action android:name="com.paobuqianjin.pbq.setp.ACTION_FORGET_PSW" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.IdentityAuth3Activity">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.step.ACTION_ADD_CARD" />
                <action android:name="com.paobuqianjin.pbq.step.ACTION_FIRSTSET" />
                <action android:name="com.paobuqianjin.pbq.setp.ACTION_FORGET_RESET" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.TransferActivity" />
        <activity android:name=".view.activity.TransferCardActivity" />
        <activity android:name=".view.activity.BindCardActivity" />
        <activity android:name=".view.activity.InputCardInfoActivity" />
        <activity android:name=".view.activity.MyBankCardActivity" />
        <activity android:name=".view.activity.ConsumHsRedActivity" />
        <!-- 密码管理 -->
        <activity android:name=".view.activity.PayManagerActivity" />
        <activity android:name=".view.activity.ForgetPayWordActivity" />
        <activity android:name=".view.activity.RePwdPhoneActivity" />
        <activity android:name=".view.activity.PayPassWordActivity">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.step.ACTION_FIRST_CARD" />
                <action android:name="com.paobuqianjin.pbq.step.ACTION_RESET" />
                <action android:name="com.paobuqianjin.pbq.step.ACTION_RESET_BANK" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.IdentifedSetPassActivity" />
        <activity
            android:name=".view.activity.SponsorRedDetailActivity"
            android:launchMode="singleTask" />
        <activity android:name=".view.activity.GoldenSponsoractivity" />
        <!-- 合利宝 -->
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".view.activity.TransferResultActivity" />
        <!-- 魅族push应用定义消息receiver声明 -->
        <receiver android:name=".model.broadcast.MeizuTestReceiver">
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收register消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收unregister消息 -->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                <!-- 兼容低版本Flyme3推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />

                <category android:name="com.paobuqianjin.pbq.step" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="516fd23486208ba3345d931ed492957a" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.paobuqianjin.pbq.step.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <receiver
            android:name=".model.broadcast.RongYunMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.THIRD_PARTY_PUSH_STATE" />
            </intent-filter>
        </receiver>

        <service
            android:name="io.rong.imlib.ipc.RongService"
            android:process=":ipc" />
        <service android:name="io.rong.imlib.ReConnectService" />

        <receiver android:name="io.rong.imlib.ConnectChangeReceiver" />
        <receiver
            android:name="io.rong.imlib.HeartbeatReceiver"
            android:process=":ipc" />

        <activity
            android:name="io.rong.imkit.widget.provider.TakingPicturesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <receiver
            android:name="io.rong.push.platform.MiMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <!-- 小米 配置开始 < -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />
        <!-- 注：此service必须在2.2.5版本以后（包括2.2.5版本）加入 -->

        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 注：此service必须在3.0.1版本以后（包括3.0.1版本）加入 -->

        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.rong.push.platform.MiMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!-- 小米 配置结束 < -->


        <!-- HMS 配置开始 -->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="100304365" />

        <!-- BridgeActivity定义了HMS-SDK中一些跳转所需要的透明页面 -->
        <activity
            android:name="com.huawei.hms.activity.BridgeActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>

        <!-- 解决华为移动服务升级问题的透明界面（必须声明） -->
        <activity
            android:name="com.huawei.android.hms.agent.common.HMSAgentActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>

        <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:authorities="com.paobuqianjin.pbq.step.hms.update.provider"
            android:exported="false"
            android:grantUriPermissions="true" />
        <!-- 第三方相关 :接收Push消息（注册、Push消息、Push连接状态）广播 -->
        <receiver android:name="io.rong.push.platform.HMSReceiver">
            <intent-filter>

                <!-- 必须,用于接收token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <!-- 可选，查看push通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver">
            <intent-filter>

                <!-- 接收通道发来的通知栏消息，兼容老版本Push -->
                <action android:name="com.huawei.intent.action.PUSH" />
            </intent-filter>
        </receiver>
        <!-- HMS 配置结束 -->


        <!-- MeiZu 配置开始 < -->
        <receiver android:name="io.rong.push.platform.MeiZuReceiver">
            <intent-filter>

                <!-- 接收 push 消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收 register 消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收 unregister 消息 -->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                <!-- 兼容低版本 Flyme3 推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />

                <category android:name="com.paobuqianjin.pbq.step" />
            </intent-filter>
        </receiver>
        <!-- MeiZu 配置结束 < -->


        <!-- 会话界面 -->
        <activity
            android:name=".view.activity.ConversationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.paobuqianjin.pbq.step"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.ChangeCircleBannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TransparentGuideActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".view.activity.ConsumptiveRedBagActivity" />
        <activity android:name=".view.activity.ConsumTotalActivity"></activity>
        <activity
            android:name=".view.activity.AddConsumptiveRedBagActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.activity.AddLittleConsumActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.activity.ShopRedBagActivity" />
        <activity android:name=".view.activity.GetConsumptiveRedBagHisActivity" />
        <activity android:name=".view.activity.MyConsumptiveRedBagActivity" />
        <activity
            android:name=".view.activity.GetConsumptiveRBResultActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".CircleTypeActivity" />
        <activity android:name=".view.activity.GetMoreMoneyActivity" />
        <activity android:name=".view.activity.ChangeAccountActivity" />
        <activity android:name=".view.activity.MultAccManangerActivity" />
        <activity android:name=".view.activity.NearByActivity" />
        <activity android:name=".view.activity.SponsorCollectActivity" />
        <activity android:name=".view.activity.FriendDetailActivity" />
        <activity
            android:name=".view.activity.CircleGuideActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".view.activity.SetRemarkNameActivity" />
        <activity android:name=".view.activity.ConsumptiveRedBag2Activity" />
        <activity
            android:name=".view.activity.AddAroundRedBagActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.step.EDIT"></action>
                <action android:name="com.paobuqianin.pbq.step.SEND"></action>
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.SingleWebViewActivity"></activity>
        <activity android:name=".view.activity.RedHsRecordActivity">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.SELECT_HIS_TICK_ACTION" />
                <action android:name="com.paobuqianjin.pbq.SELECT_HIS_NEAR_ACTION" />
                <action android:name="com.paobuqianjin.pbq.SELECT_HIS_AROUND_ACTION" />
                <action android:name="com.paobuqianjin.pbq.ROUND_PKG.ACTION" />
                <action android:name="com.paobuqianjin.pbq.NEAR_PKG.ACTION" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.RoundRedDetailActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.activity.RedInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.ROUND_RED"></action>
                <action android:name="com.paobuqianjin.pbq.NEAR_READ"></action>
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.RoundRedRelActivity" />
        <activity android:name=".view.activity.CrashDetailActivity"></activity>
        <activity android:name=".view.activity.ConsumRedInfoActivity" />
    </application>

</manifest>